$sidebar-width: 200px;
$angle-left: "\f100";
$angle-right: "\f101";

.router-link-active {
  background-color: $primary;
}

.sidebar {
  width: $sidebar-width;
  top: $top-height;
  left: 0;
  z-index: 904;
  display: block;
  min-height: 100%;
  padding-top: 20px;
  background-color: $sidebar;
  height: 100%;
  position: fixed;

  .collapse {
    display: none;
    &.in {
      display: block;
    }
  }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .377s ease;
  }
}

.sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;

  .sidebar-sublist {
    padding-left: 15px;
  }
}

a.sidebar-list-link {
  display: block;
  height: 42px;
  padding-left: 18px;
  text-shadow: none;
  font-size: 13px;
  text-decoration: none;
  color: $sidebar-text !important;
  line-height: 42px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    color: $primary !important;
    border-right: solid 3px $primary;
    .sidebar-menu-angle {
      color: $primary;
    }
  }
  i {
    width: 16px;
    display: inline-block;
  }
  .sidebar-menu-angle {
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-shadow: none;
    font-size: 14px;
    color: $sidebar-text;
    transition: transform 0.2s linear;
  }
}
