.page-top {
  background-color: $sidebar;
  position: fixed;
  z-index: 904;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  min-width: $resMin;
  padding: 0 32px 0 40px;

  &.scrolled {
    background-color: rgba(black, 0.85)
  }
}

a.logo {
  color: $sidebar-text;
  display: block;
  font-size: 24px;
  font-family: $font-family;
  white-space: nowrap;
  float: left;
  outline: none !important;
  line-height: $top-height;
  span {
    color: $primary;
  }
}

.user-profile {
  transition: all .15s ease-in-out;
  padding: 0;
  border: 0;
  opacity: 1;
  position: relative;
  & > a {
    line-height: $top-height;
    display: block;
  }
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}
