@include scrollbars(.3em, #d9d9d9, rgba(0, 0, 0, 0));

.page-wrapper {
  @include calc('height', '100vh - ' $top-height);

  .sidebar {
    height: 100%;
    left: 0;
    i {
      margin-right: 5px;
    }
  }

  .content-wrapper {
    height: 100%;
    padding: 10px;

    .content-header {
      height: $content-header-height;
    }

    .content-view {
      @include calc('height', '100% - ' $content-header-height);
      border: 1px solid $color-grey;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
      overflow: scroll;
    }

    .header-breadcrumb {
      padding: 0;
      margin: 0;
      background: transparent;
      border-radius: 0;
    }
  }
}

.img-area {
  float: left;
  width: 36px;
  img {
    width: 36px;
    height: 36px;
    &.photo-msg-item {
      border-radius: 18px;
    }
  }
  & > div {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
    &.comments {
      color: $color-warning;
    }
    &.orders {
      color: $color-warning;
    }
    i {
      width: 36px;
      line-height: 36px;
    }
  }
}

.msg-area {
  float: right;
  width: 230px;
  div {
    max-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span {
    font-style: italic;
    text-align: right;
    display: block;
    font-size: 11px;
    line-height: 11px;
  }
}
