.page-top {
  background-color: $top-color;

  a {
    color: $color-white;
  }
}

.logo {
  font-size: 24px;
  color: $color-grey !important;
  line-height: $top-header-height;
  text-decoration: none !important;

  span {
    color: $color-primary;
  }
}

.top-menu-item {
  height: $top-menu-height !important;
  line-height: $top-menu-height !important;

  div {
    height: $top-menu-height !important;
    line-height: $top-menu-height !important;
  }

  ul.el-menu {
    top: $top-menu-height !important;
  }
}
